@{
    ViewData["Title"] = "Edit Guardian";
}

@model Guardian

<form method="post">
    <div class="border p-3 mt-4" style="width:50%">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Guardian</h2>
            <hr />
        </div>
        <div>
            <div class="mb-3">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Relationship"></label>
                <input asp-for="Relationship" class="form-control"/>
                <span asp-validation-for="Relationship" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="StudentId"></label>
                <input asp-for="StudentId" class="form-control"/>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Edit Guardian</button>
        <a asp-controller="Guardian" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>