@using Models.ViewModels
@model GradeVM
<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Grade.Id" hidden />

    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="col-12 pb-2">
                    @if (Model.Grade.Id != 0)
                    {
                        <h2 class="text-primary">Update Grade</h2>
                    }
                    else
                    {
                        <h2 class="text-primary">Create Grade</h2>
                    }
                    <hr />
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Grade.AssessmentId"></label>
                    <select asp-for="Grade.AssessmentId" asp-items="@Model.AssessmentList" class="form-select">
                        <option disabled selected>--Select Assessment--</option>
                    </select>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Grade.Score"></label>
                    <input asp-for="Grade.Score" class="form-control" />
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Grade.CourseEnrollmentId"></label>
                    <select asp-for="Grade.CourseEnrollmentId" asp-items="@Model.CourseEnrollmentList" class="form-select">
                        <option disabled selected>--Select Student--</option>
                    </select>
                </div>
                
                <div class="col-12">
                    @if (Model.Grade.Id != 0)
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
                    }
                    <a asp-controller="Grade" asp-action="Index" class="btn btn-secondary" style="width:150px">
                        Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}