@using Models.ViewModels
@model NoteTypeVM

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Note Types List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="NoteType" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Type
            </a>
        </div>
    </div>
    <br /><br />

    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Note Type</th>
                <th>Role Access</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var nt in Model.NoteRoles)
                {
                    <tr>
                        <td width="20%">@nt.Key</td>
                        <td width="15%">
                            @{
                                if (@nt.Value.Count() == 1)
                                {
                                    @nt.Value.ElementAt(0);
                                }
                                else
                                {
                                    <ul>
                                        @{
                                            foreach (var r in nt.Value)
                                            {
                                                <li>
                                                    @r.ToString();
                                                </li>
                                            }
                                        }
                                    </ul>
                                }
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@*@section Scripts{
    <script src="~/js/noteType.js"></script>
}*@