<table id="tblData" class="display">
    <thead>
        <tr>
                <th>Start Time</th>
                <th>End Time</th>
                <th></th>
        </tr>
    </thead>
    @*<tbody>
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
        </tr>
    </tbody>*@
</table>

<div>
    <h2 class="text-primary">Student Public School Schedule</h2>
    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Start Time</th>
                <th>End Time</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/publicSchoolSchedule.js"></script>
}