<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Grading</h2>
        </div>

    </div>
    <br /><br />
    <h3 class="text-secondary">Choose an assessment to grade:</h3>
    <table>

        <tr>
            <th>Course Name</th>
        </tr>
    
    @foreach (var obj in Model)
    {
        <tr>
            <td>@obj.Name</td>
            <td>
                <a asp-controller="Grading" asp-action="GradingTable" asp-route-id="@obj.Id"
               class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i>Grade Assessments</a>
            </td>
        </tr>
    }
    </table>




</div>

