<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Grading</h2>
        </div>

    </div>
    <br /><br />
    <h3 class="text-secondary">Choose a course to grade assessments:</h3>
    <table>

        <tr>
            <th>Course Name</th>
        </tr>
        @if (Model == null)
        {
            <tr>
                <td>This instructor has no courses, or there are no courses to grade.</td>
            </tr>
        }
        else
        {
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.Name</td>
                    <td>
                        <a asp-controller="Grading" asp-action="AssessmentSelect" asp-route-courseId="@obj.Id"
                   class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i>Assessments</a>
                        <a asp-controller="Grading" asp-action="StudentSelect" asp-route-courseId="@obj.Id"
                   class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i>Students</a>

                    </td>
                </tr>
            }
        }

    </table>




</div>

