@using Models.ViewModels
@model GradingVM
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Grading</h2>
        </div>

    </div>
    <br /><br />
    <h4>Grading Table for @(Model.Assessment.Name)</h4>
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                
                <th>Student</th>
                <th>Earned Points</th>
                <th>Maximum Points</th>
                <th></th>
            </tr>
        </thead>

        <form method="post" asp-action="SaveGrades" enctype="multipart/form-data">
        @foreach (var obj in Model.CourseEnrollmentList)
        {
            <tr>
                <td>@(obj.Student.FirstName + " " + obj.Student.LastName)</td>
                <!-- if the grade is already in the DB, load the score into the value-->
                <td><input type="number" asp-for="Grade.Score" value="0" class="form-control" />
            <span asp-validation-for="Grade.Score" class="text-danger"></span></td>
                <td>@Model.Assessment.MaxScore</td>
            </tr>
        }
        </form>

    </table>
    <button type="submit" class="btn btn-primary mx-2"></i> Save All Changes</button>

               <a asp-controller="Grading" asp-action="CourseSelect" 
               class="btn btn-primary mx-2"> </i>Back to Course Select</a>
</div>

@section Scripts {
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}

