<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NPAU</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NPAU.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Spacelab.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NPAU</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Student</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="Applicant" asp-controller="Manage" asp-action="Index" asp-route-status="student">Students</a>
                                <a class="dropdown-item" asp-area="Student" asp-controller="StudentNotes" asp-action="Index">Notes</a>
                                <a class="dropdown-item" asp-area="Student" asp-controller="StudentDocs" asp-action="Index">Documents</a>
                                <a class="dropdown-item" asp-area="Student" asp-controller="Attendance" asp-action="Index">Attendance</a>
                                <a class="dropdown-item" asp-area="Student" asp-controller="Assessment" asp-action="Index">Assessment</a>
                                <a class="dropdown-item" asp-area="Student" asp-controller="Grade" asp-action="Index">Grade</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Employee</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="Employee" asp-controller="Instructor" asp-action="Index">Instructor</a>
                                <a class="dropdown-item" asp-area="Employee" asp-controller="Rater" asp-action="Index">Rater</a>
                                <a class="dropdown-item" asp-area="Employee" asp-controller="SocialWorker" asp-action="Index">SocialWorker</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Applicant</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="Applicant" asp-controller="Manage" asp-action="Index" asp-route-status="pending">Applications</a>
                                <a class="dropdown-item" asp-area="Applicant" asp-controller="Manage" asp-action="Create">New Application</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Course" asp-action="Index">Course</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Ratings" asp-action="Index">Rating</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="School" asp-action="Index">School</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Term" asp-action="Index">Term</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Subject" asp-action="Index">Subject</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="DocType" asp-action="Index">DocType</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="NoteType" asp-action="Index">NoteType</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="CourseSession" asp-action="Index">Course Session</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="CourseEnrollment" asp-action="Index">Course Enrollment</a>
                                <a class="dropdown-item" asp-area="Applicant" asp-controller="Manage" asp-action="Index">Student</a>
                                <a class="dropdown-item" asp-area="Student" asp-controller="Guardian" asp-action="Index">Guardian</a>
                                
                            </div>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - NPAU - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
