@{
    ViewData["Title"] = "Add Applicant";
}

@using Models.ViewModels
@model StudentVM

<form method="post">
    <div class="border p-3 mt-4" style="width:50%">
        <div>
            <h3 class="text-primary">Applicant Information</h3>
            <div class="mb-3">
                <input asp-for="Student.Status" hidden value=@Utilities.SD.StudentStatusPending />
            </div>
            <div class="mb-3">
                <label asp-for="Student.FirstName"></label>
                <input asp-for="Student.FirstName" class="form-control" />
                <span asp-validation-for="Student.FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Student.LastName"></label>
                <input asp-for="Student.LastName" class="form-control" />
                <span asp-validation-for="Student.LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Student.Birthday"></label>
                <input asp-for="Student.Birthday" class="form-control" />
                <span asp-validation-for="Student.Birthday" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Student.Address"></label>
                <input asp-for="Student.Address" class="form-control" />
                <span asp-validation-for="Student.Address" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Student.Village"></label>
                <input asp-for="Student.Village" class="form-control" />
                <span asp-validation-for="Student.Village" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Student.Phone"></label>
                <input asp-for="Student.Phone" class="form-control" />
                <span asp-validation-for="Student.Phone" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Student.EnglishLevel"></label>
                <input asp-for="Student.EnglishLevel" class="form-control" />
                <span asp-validation-for="Student.EnglishLevel" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Student.ComputerLevel"></label>
                <input asp-for="Student.ComputerLevel" class="form-control" />
                <span asp-validation-for="Student.ComputerLevel" class="text-danger"></span>
            </div>
        </div>
        <div>
            <h3 class="text-primary">Guardian Information</h3>
            <div class="mb-3">
                <label asp-for="Guardian.FirstName"></label>
                <input asp-for="Guardian.FirstName" class="form-control" />
                <span asp-validation-for="Guardian.FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Guardian.LastName"></label>
                <input asp-for="Guardian.LastName" class="form-control" />
                <span asp-validation-for="Guardian.LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Guardian.Relationship"></label>
                <input asp-for="Guardian.Relationship" class="form-control" />
                <span asp-validation-for="Guardian.Relationship" class="text-danger"></span>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Add Applicant</button>
        <a asp-controller="Manage" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>
