@model Student

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Student</h2>
            <hr />
        </div>
        <div>
            <div class="mb-3">
                <label asp-for="Id"></label>
                <input asp-for="Id" disabled class="form-control"/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Status"></label>
                <input asp-for="Status" disabled class="form-control"/>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" disabled class="form-control"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" disabled class="form-control"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Birthday"></label>
                <input asp-for="Birthday" disabled class="form-control"/>
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Address"></label>
                <input asp-for="Address" disabled class="form-control"/>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Village"></label>
                <input asp-for="Village" disabled class="form-control"/>
                <span asp-validation-for="Village"  class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" disabled class="form-control"/>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="EnglishLevel"></label>
                <input asp-for="EnglishLevel" disabled class="form-control"/>
                <span asp-validation-for="EnglishLevel" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ComputerLevel"></label>
                <input asp-for="ComputerLevel" disabled class="form-control"/>
                <span asp-validation-for="ComputerLevel" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="Manage" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>