@using Models.ViewModels
@model AttendanceVM
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Attendance</h2>
        </div>
    </div>
    <br /><br />
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Student</th>
                <th>Date</th>
                <th>Marked</th>
                <th>Excused</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.AttendanceList.Count(); i++)
            {
                <tr>
                    <td>
                        <label>@Model.AttendanceList[i].CourseEnrollment.Student.FullName</label>
                        <input type="hidden" asp-for=@Model.AttendanceList[i].CourseEnrollment.Student.Id name=@Model.AttendanceList[i].CourseEnrollment.Student.Id>
                    </td>
                    <td>
                        <label>@Model.AttendanceList[i].DateTaken</label>
                        <input type="hidden" asp-for=@Model.AttendanceList[i].DateTaken name=@Model.AttendanceList[i].DateTaken />
                    </td>
                    <td>
                        @if (Model.AttendanceList[i].MarkedAttendance == "Present")
                        {
                            <p>Present</p>
                        }
                        else if (Model.AttendanceList[i].MarkedAttendance == "Absent")
                        {
                            <p>Absent</p>
                        }
                        else
                        {
                            <p>Tardy</p>
                        }
                    </td>
                    <td>
                        @if (Model.AttendanceList[i].Excused == true)
                        {
                            <p>Excused</p>
                        }
                    </td>
                    <td>
                        <a asp-controller="Attendance" asp-action="Edit" asp-route-Id="@Model.AttendanceList[i].Id"
                       class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i>Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="border p-3 mt-4">
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script src="~/js/viewAttendance.js"></script>
}