@model Models.Academic.StudentNote

<form method="post">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Note</h2>
            <hr />
        </div>
        <input asp-for="Id" hidden/>
        <div class="mb-3">
            <label asp-for="Text"></label>
            <textarea asp-for="Text" rows="5" disabled class="form-control"></textarea>
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
            <a asp-controller="StudentNotesController" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Back to Notes
            </a>
        </div>
    </div>
</form>