@using Models.ViewModels
@model StudentDocVM

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="StudentDoc.Id" hidden />

    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="col-12 pb-2">
                    <h2 class="text-primary">Create Student Document</h2>
                    <hr />
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="StudentDoc.StudentId"></label>
                    <select asp-for="StudentDoc.StudentId" asp-items="@Model.Students" class="form-select">
                        <option disabled selected>--Select Student--</option>
                    </select>
                    <span asp-validation-for="StudentDoc.StudentId" class="text-danger"></span>
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="StudentDoc.DocType.TypeName"></label>
                    <select asp-for="StudentDoc.DocTypeId" asp-items="@Model.DocTypeList" class="form-select">
                        <option disabled selected>--Select Document Type--</option>
                    </select>
                    <span asp-validation-for="StudentDoc.DocTypeId" class="text-danger"></span>
                </div>
                
                <div class="mb-3 col-6">
                    <label asp-for="StudentDoc.Title"></label>
                    <input asp-for="StudentDoc.Title" class="form-control" />
                    <span asp-validation-for="StudentDoc.Title" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="StudentDoc.DocUrl"></label>
                    <input type="file" id="uploadBox" name="file" class="form-control" />  
                </div>

                <div class="col-12">
                    @if (Model.StudentDoc.Id != 0)
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px">Update Document</button>
                    }
                    else
                    {
                        <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Add Document</button>
                    }
                
                    <a asp-controller="StudentDocs" asp-action="Index" class="btn btn-secondary" style="width:150px">
                        Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }

<script>
 
    function ValidateInput(){
        if(document.getElementById("uploadBox").value==""){
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: 'Please upload a URL!',
            });
            return false;
        }
        return true;
    }
</script>
}